<div id="footer">
    <hr>

    <!--menu-->
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/en/" rel="nofollow">Back to Home</a></li>
            <li><a href="{{ site.baseurl }}/en/menu_game/" title="Download Games (Free)" rel="nofollow">Game Downloads</a></li>
            <li><a href="{{ site.baseurl }}/en/menu_gametool/" title="Download Game Creation Software (Free)" rel="nofollow">Game Creation Tools</a></li>
            <li><a href="{{ site.baseurl }}/en/joyful_publicity/joyful.cgi" title="Promote Games, Sites, Events" rel="nofollow">Promotion BBS</a></li>
            <li><a href="{{ site.baseurl }}/en/menu_support/" title="Game Support" rel="nofollow">Support</a></li>
            <li><a href="{{ site.baseurl }}/en/menu_game_capture/" title="Game Walkthroughs" rel="nofollow">Game Walkthroughs</a></li>
        </ul>
    </div>
    <!--/menu-->

    <!--menu-->
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/en/menu_collect/" title="Announcements" rel="nofollow">Announcements</a></li>
            <li><a href="{{ site.baseurl }}/en/menu_midi/" title="Download MIDI Files" rel="nofollow">MIDI Downloads</a></li>
            <li><a href="{{ site.baseurl }}/en/menu_mail/" title="Email the Administrator" rel="nofollow">Contact Admin</a></li>
            <li><a href="{{ site.baseurl }}/en/menu_link/" title="Links to Game-Related Sites" rel="nofollow">Link Directory</a></li>
            <li><a href="{{ site.baseurl }}/en/sitemap/" rel="nofollow">Sitemap</a></li>
        </ul>
    </div>
    <!--/menu-->
    
    <!--copyright-->
    <div id="copyright">
        　“All pages of ‘Omoshiro Game Sanctuary – Create Action Games & Simulation RPGs –’ are link-free.”<br>
        　“If you like, please feel free to share and introduce this site and its games!”<br>
        　Admin: Anton &copy; {{ "now" | date: "%Y" }}<br>
    </div>
    <!--copyright-->

</div>
