<div id="footer">
    <hr>

    <!--menu-->
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/" rel="nofollow">TOPページへ</a></li>
            <li><a href="{{ site.baseurl }}/menu_game/" title="ゲームのダウンロード(無料)" rel="nofollow">ゲームのダウンロード</a></li>
            <li><a href="{{ site.baseurl }}/menu_gametool/" title="ゲーム制作ソフトのダウンロード(無料)" rel="nofollow">ゲーム制作ソフト</a></li>
            <li><a href="{{ site.baseurl }}/joyful_publicity/joyful.cgi" title="ゲーム・サイト・イベントの宣伝" rel="nofollow">宣伝BBS</a></li>
            <li><a href="{{ site.baseurl }}/menu_support/" title="ゲームのサポート" rel="nofollow">サポート</a></li>
            <li><a href="{{ site.baseurl }}/menu_game_capture/" title="ゲームの攻略" rel="nofollow">ゲーム攻略</a></li>
        </ul>
    </div>
    <!--/menu-->

    <!--menu-->
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/menu_collect/" title="募集事項" rel="nofollow">募集事項</a></li>
            <li><a href="{{ site.baseurl }}/menu_midi/" title="MIDIのダウンロード" rel="nofollow">MIDIのダウンロード</a></li>
            <li><a href="{{ site.baseurl }}/menu_mail/" title="管理人へメール" rel="nofollow">管理人へメール</a></li>
            <li><a href="{{ site.baseurl }}/menu_link/" title="ゲーム関係のサイトのリンク集" rel="nofollow">リンク集</a></li>
            <li><a href="{{ site.baseurl }}/sitemap/" rel="nofollow">サイトマップ</a></li>
        </ul>
    </div>
    <!--/menu-->
    
    <!--copyright-->
    <div id="copyright">
        　「おもしろゲーム神殿　～アクションゲーム＆シミュレーションRPGをつくろう～」は全てのページがリンクフリーです。<br>
        　もしよろしければ、サイト及びゲームのご紹介をよろしくお願いします！<br>
        　管理人　アントン &copy; {{ "now" | date: "%Y" }} <br>
    </div>
    <!--copyright-->

</div>