<div id="sidebar">
  <!--menu-->
  <div class="menu">
    <div class="title"><p>Main Menu</p></div>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/en/menu_game/" 
           title="Download Games (Free)" 
           rel="nofollow">
          Game Downloads
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/menu_gametool/" 
           title="Download Game Creation Software (Free)" 
           rel="nofollow">
          Game Creation Tools
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/joyful_publicity/joyful.cgi" 
           title="Advertise Games, Sites, Events" 
           rel="nofollow">
          Promotion BBS
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/menu_support/" 
           title="Game Support" 
           rel="nofollow">
          Support
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/menu_game_capture/" 
           title="Game Walkthroughs" 
           rel="nofollow">
          Game Walkthroughs
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/menu_collect/" 
           title="Announcements" 
           rel="nofollow">
          Announcements
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/menu_midi/" 
           title="Download MIDI Files" 
           rel="nofollow">
          MIDI Downloads
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/menu_mail/" 
           title="Email the Admin" 
           rel="nofollow">
          Contact Admin
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/menu_link/" 
           title="Links to Game-Related Sites" 
           rel="nofollow">
          Link Directory
        </a>
      </li>
    </ul>
  </div>
  <!--/menu-->

  <!--twitter-->
  <div class="menu">
    <a class="twitter-timeline" 
       href="https://twitter.com/antongame?ref_src=twsrc%5Etfw" 
       height="400px" 
       data-chrome="transparent">
      Tweets by antongame
    </a>
    <!-- <script async="" 
            src="https://platform.twitter.com/widgets.js" 
            charset="utf-8">
    </script> -->
  </div>
  <!--/twitter-->

  <!--link-->
  <div class="menu">
    <div class="title"><p>Recommended Links</p></div>
    <ul class="ranking">
      <li class="noborder">
        <p>
          <a href="http://ae4directory.web.fc2.com/index.html" 
             rel="nofollow">
            AE4 Directory & BBS, etc.
          </a>
          <br>
          BBS for the Action Editor series
        </p>
      </li>
    </ul>
  </div>
  <!--/link-->

  <!--game-->
  <div class="menu">
    <div class="title"><p>Featured Games</p></div>
    <ul class="ranking">
      <li>
        <p>
          <a href="{{ site.baseurl }}/en/menu_game/SRPGEditor2/" 
             title="Free Simulation RPG Maker: SRPG Editor 2" 
             rel="nofollow">
            SRPG Editor 2
          </a>
          <br>
          A no-coding simulation RPG maker with character scouting and customizable training battles.
        </p>
      </li>
      <li>
        <p>
          <a href="{{ site.baseurl }}/en/menu_game/ActionEditor4/" 
             title="Free Action Game Maker: Action Editor 4" 
             rel="nofollow">
            Action Editor 4
          </a>
          <br>
          Easy and fun software for creating action games.
        </p>
      </li>
      <li>
        <p>
          <a href="{{ site.baseurl }}/en/menu_game/ActionEditor4/index.html#GAME_DL" 
             title="Action Editor 4 Games Collection" 
             rel="nofollow">
            AE4 Games Collection
          </a>
          <br>
          Recommended games made with Action Editor 4: action, shooting, action-RPG, and more.
        </p>
      </li>
      <li class="noborder">
        <p>
          <a href="{{ site.baseurl }}/en/menu_game/index.html#NAKAMA2" 
             title="Free Simulation RPG: Yashiyu & Nakama 2" 
             rel="nofollow">
            Yashiyu & Nakama 2
          </a>
          <br>
          A battle-focused simulation RPG. Perfect even if you’re new to the genre, with replay support.
        </p>
      </li>
    </ul>
  </div>
  <!--/game-->
</div>
