<div id="sidebar">
    <!--menu-->
    <div class="menu">
        <div class="title"><p>メインメニュー</p></div>
        <ul>
            <li><a href="{{ site.baseurl }}/menu_game/" title="ゲームのダウンロード(無料)" rel="nofollow">ゲームのダウンロード</a></li>
            <li><a href="{{ site.baseurl }}/menu_gametool/" title="ゲーム制作ソフトのダウンロード(無料)" rel="nofollow">ゲーム制作ソフト</a></li>
            <li><a href="{{ site.baseurl }}/joyful_publicity/joyful.cgi" title="ゲーム・サイト・イベントの宣伝" rel="nofollow">宣伝BBS</a></li>
            <li><a href="{{ site.baseurl }}/menu_support/" title="ゲームのサポート" rel="nofollow">サポート</a></li>
            <li><a href="{{ site.baseurl }}/menu_game_capture/" title="ゲームの攻略" rel="nofollow">ゲーム攻略</a></li>
            
            <li><a href="{{ site.baseurl }}/menu_collect/" title="募集事項" rel="nofollow">募集事項</a></li>
            <li><a href="{{ site.baseurl }}/menu_midi/" title="MIDIのダウンロード" rel="nofollow">MIDIのダウンロード</a></li>
            <li><a href="{{ site.baseurl }}/menu_mail/" title="管理人へメール" rel="nofollow">管理人へメール</a></li>
            <li><a href="{{ site.baseurl }}/menu_link/" title="ゲーム関係のサイトのリンク集" rel="nofollow">リンク集</a></li>
        </ul>
    </div>
    <!--/menu-->
		
    <!--twitter-->
    <div class="menu">
        <a class="twitter-timeline" href="https://twitter.com/antongame?ref_src=twsrc%5Etfw" height="400px" data-chrome="transparent">Tweets by antongame</a>
        <!-- <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    </div>
    <!--/twitter-->
		
		
    <!--link-->
    <div class="menu">
        <div class="title"><p>おすすめリンク集</p></div>
        <ul class="ranking">
        <li class="noborder"><p><a href="http://ae4directory.web.fc2.com/index.html" rel="nofollow">新アクエディBBSなど</a><br>アクエディシリーズのBBS</p></li>
        </ul>
    </div>
    <!--/link-->


    <!--game-->
    <div class="menu">
        <div class="title"><p>おもしろゲーム集</p></div>
        <ul class="ranking">
            <li>
            <p><a href="{{ site.baseurl }}/menu_game/SRPGEditor2/" title="無料シミュレーションRPG制作ソフト シミュレーションRPGエディター2" rel="nofollow">SRPGエディター2</a><br>プログラミング不要のシミュレーションRPG制作ソフト。キャラのスカウト機能や自由な組み合わせで対戦できるトレーニングなどを搭載</p>
            </li>
            <li>
            <p><a href="{{ site.baseurl }}/menu_game/ActionEditor4/" title="無料アクションゲーム制作ソフト アクションエディター4" rel="nofollow">アクションエディター4</a><br>手軽に楽しくアクションゲームが作れるソフト</p>
            </li>
            <li>
            <p><a href="{{ site.baseurl }}/menu_game/ActionEditor4/index.html#GAME_DL" title="アクションエディター4 ゲーム集" rel="nofollow">アクエディ4 ゲーム集</a><br>アクションエディター4でつくられたオススメのゲーム。アクション、シューティング、アクションRPGなど</p>
            </li>
            <li class="noborder">
            <p><a href="{{ site.baseurl }}/menu_game/index.html#NAKAMA2" title="無料シミュレーションRPG ヤシーユとなかま2" rel="nofollow">ヤシーユとなかま2</a><br>戦闘重視のシミュレーションRPG。攻略に必要な情報量が多すぎないのでシミュレーションが苦手な人にもオススメしたい。周回プレイ可</p>
            </li>
        </ul>
    </div>
    <!--/game-->
		
</div>
