---
import data from "../data/footer.json";
const { pathname } = Astro.url;
const lang = pathname.startsWith("/en/") ? "en" : "ja";
const prefix = lang === "en" ? "/en" : "";

const today = new Date();
---
<footer id="footer">
  <hr />

  {data.menus.map((menu) => (
    <div class="menu">
      <ul>
        {menu.map((item) => (
          <li>
            <a href={prefix + item.url} rel={item.rel}>
              {item.name[lang]}
            </a>
          </li>
        ))}
      </ul>
    </div>
  ))}

  <div id="copyright">
    <p set:html={data.copyright[lang] + new Date().getFullYear()} />
  </div>
</footer>

<style>

footer#footer{
	clear: both;
	width: 100%;
	/*background: #fff;*/
	text-align: center;
}

footer#footer hr{
	clear: both;
	margin: 0;
	padding: 0;
	color: #333;
}

footer#footer .menu{ margin: 0.5em 0; }

footer#footer .menu li{
	display: inline;
	margin: 0 1.0em;
	font-size: 90%;
	line-height: 14pt;
}

footer#footer #copyright{
	clear: both;
	width: 100%;
	margin-top: 1.0em;
	padding: 1.0em 0 1 1;
	background: url(/images/bg-sub/bg-sub-white.jpg) left center;
	font-size: 10pt;
	line-height: 14pt;
	color: #333;
	text-align: left;
}

footer#footer #copyright a{ text-decoration: underline; }
footer#footer #copyright a:link{ color: #333; }
footer#footer #copyright a:visited{ color: #333; }
footer#footer #copyright a:hover{ color: #cc6600; }


footer#footer address{ margin: 15px 0; }

</style>