---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hreflang from "../components/Hreflang.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import Breadcrumb from '../components/Breadcrumb.astro';
import Sidebar from '../components/Sidebar.astro';
import HeaderLogo from '../components/HeaderLogo.astro';
import TopMenu from '../components/TopMenu.astro';

// type Props = CollectionEntry<'blog'>['data'];

const { frontmatter } = Astro.props;

const lang = frontmatter.lang || Astro.props.url?.startsWith("/en/") ? "en" : "ja";
// const { title, description } = Astro.props;
---

<html lang={lang}>
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description || frontmatter.subtitle || "??"} />
        <Hreflang />
	</head>

	<body>
        <div id="container">
            <div id="header">
                <h1>{frontmatter.title || "???"}</h1>
                
                <TopMenu />
            </div>

            <HeaderLogo />
            
            <Breadcrumb breadcrumb={frontmatter.breadcrumb || []} />

            <!-- <LanguageSwitcher /> -->



            <main id="main">
                <Sidebar />
                <article id="main-contents">
                    <slot />
                </article>
            </main>

                <Footer />
            
            
        </div>
	</body>
</html>

<style>
    #header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
</style>